.common_title {
  height: 2.5rem;
  background-color: #f9f9f9;
  position: relative;
  z-index: 998;
}

.common_title h3 {
  line-height: 2.5rem;
  font-size: 18px;
  color: #394043;
  text-align: center;
  box-sizing: border-box;
  border-bottom: 1px solid #ccc;
}

.common_title .back {
  position: absolute;
  left: 1rem;
  top: 0.6rem;
  width: 1rem;
  height: 1rem;
  font-size: 1.2rem;
  color: #8f949b;
}